<head>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
  <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
  <a href="/hello">get some stuff</a>
</body>
